# Entorno Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entorno Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
.env.*

# Archivos de PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db